<h1 class="home_h1">Recipe Generator</h1>

<p class ="home_p"> Ever have a bunch of ingredients but
      no idea what to make with them?
      Recipe Generator takes ingredients in your fridge and pantry and finds
      recipes you can make with just those ingredients.
</p>
<div class="home_form">
  <%= form_tag recipes_path, method: :get do %>
    <div class="home_label">  <%= label_tag "Enter your ingredients" %>
      <%= text_field_tag :ingredients, "", placeholder: "Salmon, Ricotta Cheese" %>
      <%= submit_tag "Recipe Search" %>
  <% end %>
  </div>
</div>
