@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  background-image: url("food-background.jpeg");
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: fantasy;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
}

nav {
  letter-spacing: 3px;
  text-align: center;
  padding-top: 30px;
  padding-left: 4em;
  background-color: #ebd8ca;
  border: solid #7f4728 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

a {
  margin-right: 6em;
  color: black
}

.a_nav {
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  font-family: fantasy;
}

h2 {
  text-align: center;
  padding-left: 6em;
  font-family: 'Quicksand', sans-serif;
}

form {
  text-align: center;
  margin-left: 5em;
}

input {
  border-radius: 5px;
}

.new_user {
  margin-left: 0;
}

.home_h1 {
  text-align: center;
  width: 96%;
  margin-top: 5em;
}

.home_p {
  width: 31em;
  padding-left: 10em;
  font-size: 18px;
  padding-top: 10px;
}

.home_form{
  font-size: 16px;
  font-weight: bold;
}

.results {
  text-align: center;
  background-color: white;
}

.recipe_image {
  border-radius: 10px;
}

.home_page {
  margin-top: 4.7em;
  border: 10px;
}

.cook_times {
  text-align: left;
}

.cook_instructions {
padding-left: 22px;
width: 850px;
text-align: left;
padding-left: 22px;
line-height: 30px
}

.ingredients_show {
text-align: left;
width: 850px;
text-align: left;
padding-left: 22px;
}

.instructions_show {
text-align: left;
width: 850px;
text-align: left;
padding-left: 22px;
}

.method_show {
padding-left: 22px;
text-align: left;
}

.home_label {
letter-spacing: 2px;
}

.home_label {
padding-right: 9em;
}

img {
  width: 18em;
  border: solid #ead5c6 5px;
  border-radius: 10px;
}

.ingredients{
  padding-left: 1em;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}

.ingredients_list {
  text-align: left;
}

h4 {
  text-align: right;
  padding-right: 22px;
}

.return {
  color: black;
  margin-right: 10px;
}

.recipe_name {
  font-size: 16px;
}

.white_space {
  background-color: white;
  opacity: 0.7;
}
/* footer {
  background-color: #ebd8ca;
  border: solid #7f4728 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 77px;
  max-width: 960px;
  margin: 0 auto;
  letter-spacing: 3px;
  padding-top: 30px;


} */
