<%= link_to my_recipe_path(my_recipe.id) do %>
<div>
    <h3>
        <%= my_recipe.title %> <br>
        <h4>
        <%= my_recipe.description %><br>
        </h4>
    </h3>
</div>
<% end %>
